.help-block {
    color: #DB0630;
}

.form-line:after {
    color: #DB0630;
}

.table thead tr {
    background-color: #25567f !important;
    color: #fff;
}

.p20 {
    padding: 20px !important;
}

.tr_bg {
    background-color: rgba(50, 197, 210, 0.09);
}

.tr_bg2 {
    background-color: rgba(255, 160, 79, 0.09);
}

.has-success .control-label {
    color: #333333;
}

.symbol.required:before {
    content: "*";
    display: inline;
    color: #E6674A;
}

.tools_icon {
    float: right;
    display: inline-block;
    padding: 5px 0 0px;
    font-size: 22px;
    cursor: pointer;
}

.portlet-title1 {
    height: 70px !important;
}

.caption1 {
    font-size: 40px !important;
    padding-top: 5px !important;
    padding-left: 140px !important;
    color: #fff !important;
}

.shadow {
    box-shadow: 5px 10px 8px #888888 !important;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
    }

        .pagination a.active {
            background-color: #32c5d2;
            color: white;
            border: 1px solid #32c5d2;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

        .pagination a:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .pagination a:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
